
html{
	background-color: #FFF5EE;
	color: DarkSlateGray;
	font-family: Helvetica, sans-serif;	

}


p{
	font-weight: bold;
    text-align: center;
	background-color: inherit;
	color: inherit;
       
}

canvas{

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
	border: solid;
	background-color: white;
	color: inherit;	
	position: relative;

}
