/*
    style.css - created 6/05/2015
    Stylesheet for Smartwatch Emulator
    for COSC345 project.

    Authors: [[REDACTED]]
*/

html{
    background-color: #424242;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    width: 1100px;
    margin: auto;
}

section {
    width: 315px;
    height: 700px;
    float: left;
    background-color: #666666;
    border-radius: 15px;
    margin: 16px;
}

#centre {
    background: none;
    width: 370px;
}

#watch {
    background-color: #FF9100;
    height: 375px;
    padding-top: 25px;
    border-radius: 15px;
}

#screen {
    background-color: black;
    height: 320px;
    width: 320px;
    margin: auto;
}

#constatus {
    color: red;
}

fieldset {
    width: 90%;
    border: none;
    border-top: darkgrey;
    border-top-style: solid;
    border-top-width: 2px;
    margin-top: 10px;
}

#watchbutton {
    border-radius: 10px;
    height: 30px;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    border: #737373;
    border-style: solid;
    border-width: 1px;
}


.watchstrap {
    background-color: #A6A6A6;
    height: 150px;
    width: 240px;
    margin: auto;
}

#right_input {
    clear: right;
}

.EE{
    color: #515151;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 90px;
    float: left;
}

#selector {

}

.orb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    float: right;
    margin: 3px;
    cursor: pointer;
}

#red {
    background-color: #EB0000;
    margin-right: 20px;
}

#orange {
    background-color: #FF9100;

}

#blue {
    background-color: #0070D1;
}

#green {
    background-color: #1AE300;
}

#map-canvas {
    margin: auto;
    margin-top: 10px;
    padding: 0;
    height: 300px;
    width: 280px;
}

input[type=number] {
    width: 120px;
}
